fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

pydantic
pydantic-settings
email-validator

PyJWT
pwdlib[argon2]

python-multipart
python-dotenv

qdrant-client

pypdf
python-docx

langchain-text-splitters

--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.14.0+cpu
sentence-transformers==6.0.1

rq
redis

pytest
pytest-asyncio
httpx

openai